@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.invalid-feedback {
  display: block;
}

.container {
  margin-top: 20px;
}

.new_user {
  width: 400px;
}

a.black-link {
  color: black;
  text-decoration: none;
}

.post {
  .post-body {
    font-size: 1rem;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .post-footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    width: 100%;

    div:not(:last-of-type) {
      margin-right: 10px;
    }

    .creator-info {
      color: gray;
    }
  }

  .post-comment-form {
    margin-top: 40px;
  }
}

.comment {
  padding: 8px;
  width: fit-content;

  .comment-reply-form {
    margin-left: 0;
  }

  .comment-header {
    color: gray;
    font-style: italic;
    margin-top: 6px;
  }

  .comment-children {
    border-left: 1px solid #AAA;
    padding-left: 8px;
  }
}
